*{margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    background-color:black;
    background-image:url(./img/fondo4.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
body{
    color:white;
    background-color: transparent;
    }

.tit1{
    color:#dae6e0;
    text-align: center;
    font-style: oblique;
    font-weight: 200;
    font-family: 'Kavoon', cursive;
}

/*estilos de clase 2 sep PAG INICIO*/
p{
   color:white;
}
.container{
    margin:5% 10% 3% 8%;
}
.main-characters{
    display: flex;
    flex-wrap: wrap;
    color:white;
    justify-content: center;
}

.character{
    width: 25%;
    margin:3%;
    border:2px #e6e6e6 solid;
    border-right: 4px #e6e6e6 solid;
    border-bottom: 4px #e6e6e6 solid ;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;

}
.character img{
    width: 90%;
    border-radius: 3%;
   }

.character div{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 3%;
   }
.character h2{
   font-weight: 600;
   margin-bottom: 3%;
   }

   footer{
       background-color: darkslategrey;
       color:white;
       height: 40px;
       text-align: center;
       padding: 2%;
       font-style:italic;
       font-family: cursive;
   }

.fa-heart{
    color:#CC66CC ;

}
/*estilos para pagina sobre mi*/
.cont_sobremi{/*contenedor principal*/
    margin: 5%;
    width: 80%;
    height: auto;
    background-color: transparent;
    padding:5%;
    border: white  1px solid;
    border-radius: 98px 15px 98px 35px;
    box-shadow: rgba(93, 173, 226 ,0.7) 8px 8px 2px,
    rgba(133, 193, 233 ,0.7) 9px 9px 3px,
    rgba(93, 173, 226 ,0.7) 10px 10px 4px,
    rgba(23, 32, 42,1) 13px 13px 30px;
}
/*encabezado sobre mi*/
.cont_sobremi .cont_section{
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-content: space-around;
    /*border: white  3px solid;*/
}
.cont_sobremi .cont_section .principal img{
    width: 100px;
    height: 120px;
    border-radius:30% ;
    box-shadow:
        1px 1px 1px #AEB6BF,
        2px 2px 1px #000000,
        4px 4px 6px #B2EBF2;
}
.cont_sobremi .cont_section .profesion h1{
    margin: 25px;
    color:white;
    font-family:cursive;
    text-align: center;
    font-size: 2.5rem;
}
/*Habilidades */
.cont_info{
   display:flex;
   flex-direction:column;
   justify-content: space-around;
   justify-content: space-between;
}
.study{
   width:auto;
   height:auto;
   text-align: left;
   background-color:rgba(38, 198, 218,0.4);
   border-radius:  10px   35px;
   border-style:groove;
   padding: 20px;
   }
.study ul{
    list-style:none;
    font-size: 1.5rem;
}
.study img{
    width: 10%;
    height: 10%;
    float:right;
    margin-top:-5%;
    display:flex;
   flex-direction:center;
   justify-content: space-around;
   justify-content: space-between;
}
.hab {
    color: lightcyan;
    text-align: left;
    padding: 15px;
    font-size: 2rem;
}
/*conocimientos*/
 .tconocimineto  h2{
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font:1rem;
    padding: 3%;

   }
.cont_sobremi .conocimiento ,.plataform, .lg {
    color:whitesmoke;
    font-style: italic;
    font-family: cursive;
    text-align: left;
    padding: 2%;
    font-size: 0.5em;
   
}
.conocimiento .imgStudio{
    width:400px;
    height:250px;
    display: flex;
   flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;

}
.conocimiento .imgStudio img{
    width: 35%;
    height: 35%;
    padding: 2%;
    margin: 1%;
    margin-top: 2%;
    border:2px lightskyblue solid;
    border-style: groove  2px solid;
    border-radius: 8px;
    align-items: center;
    border-radius: 5px;
   }
/*Boton Cambio de nombre personajes*/
.bt-cambio{

display: flex;
align-items: flex-end;
align-content:center;
padding: 5px;
border: forestgreen 2px solid ;
margin: 6px;
color:darkblue;
background: darkcyan;
border-style:groove;
border-radius: 15px;
font-style: 2em;
font-style: oblique;
font-weight: bold;
}