/*
this space is design for menu pag
*/


#btn-menu{
    display: none; 
  }
header label{
    display: none;
    width: 30px;
    height:30px;
    padding: 3px;
    border-right: 1px solid #1E88E5;
   
}
header label:hover{
   cursor: pointer;
   background: rgba(0,0,0,0.3);
       
}
.menu ul {
    list-style:none;
    margin:0;
    padding: 5px;
    float:right;
    display: flex;
    flex-direction: row;
    margin-left: 258px;
    margin-top: 14px;
}
.menu li{
    margin-top: 10%;
 text-align: center;
 flex-grow:1;
 cursor: pointer;
 border-right: 1px solid #fff;
}
.menu li:hover{
   background: rgba(0,0,0,0.3);
     color: rgb(158, 157, 36 ) ;
    font-size: 18px;
    font-weight: bold;
    transition: color 0s;
    font-style: oblique;
    margin-right: 2%;
    margin-left: 4%;
    font-family: arial;
    text-shadow: rgb(0, 0, 0 ) 2px 4px 15px ;
}
.menu li a{
    background: rgba(207, 216, 220,0.5);
    display: block;
    text-decoration: none;
    padding:3px 20px;
    font-size: 15px;
    color: white;
    font-weight: 900;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
@media(max-width:768px){
    
    header label{
        display:block;
    }
    .menu{
        position:absolute;
        background: transparent;
         width: 25%;
         margin-left: -120%;
         transition:all 1s;
        }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
        width: 170%;
        background-color:rgba(41, 182, 246,0.4);
        font-size: 120%;
        padding:4px;
        font-weight: 800;
        }
   
    .menu li a{
        color:white;
    }
    .menu li:focus{
       background-color:rgba(93, 173, 226,0.7); 
       color:#9E9D24;
    }
    #btn-menu:checked ~.menu{
       margin:0;
       
    }
    #containerprincipal{
       height: 3%;
       margin-top: -2px; 
       width:90%;
       margin-left: 5%;
    }
    .label-menu{
        margin-top: 15%;
        padding: -1%;
        margin: 0;
       
    }
  
    #cabecera{
    margin-top:-50%;
    font-size:90%;
    font-family:roboto;
    text-shadow:1px 1px 1px #90A4AE ,
        2px 2px 1px #B0BEC5,
        3px 3px 1px #CFD8DC,
        4px 4px 1px #000000,
        5px 5px 10px #B2EBF2;
    color:#455A64 ;
    margin-left: 5px;
    }  
    
    footer{
        margin-top: 15%;
       height: 2%;
       width:90%;
       margin-left: 6%;  
    }
}
